 * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
 
body {
    background: linear-gradient(to bottom, rgb(250, 190, 190), rgb(250, 120, 120));
    background-size: cover;
    background-repeat: no-repeat;
    height: 98.5vh; 
}

@keyframes topBoxSlide{
    from{
        transform: translateY(-330px);
        opacity: 0;
    }
    50%{
        transform: translateY(60px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }  
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.topBox { 
    margin: 0 auto;
    background-color:#fff; 
    width: 650px;
    margin-top: 15px;
    box-shadow: 0px 0px 20px -10px #000;

    animation-name: topBoxSlide;
    animation-duration: 850ms;
}

h1 {
    opacity: 0;
    font-size: 4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 850ms;
    animation-fill-mode: forwards;
}

#nrOfCompleted{
    font-size: 20px;
    height: 60px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    margin-bottom:20px;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

input {
    
    width:270px;
    padding-left: 20px;
    font-size: 25px;
    margin-right:10px;
    border: 1px solid #999;
    border-radius: 4px;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

#inputAndBtnDiv {
    opacity: 0;
    display: flex;
    justify-content: center;
    height: 45px;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;

}

#addBtn {
    width: 70px;
    font-size: 25px;
    border: 1px solid #999;
    border-radius: 4px;
}

#addBtn:hover{
    cursor: pointer;
    background-color: #ccc;
}

#infoBox {
    margin: 20px auto;
    width: 400px;
    text-align: center;
    color: #a00;
}

#listAndBtnDiv { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 20px;

}

.trashcan{
    margin-left: 20px;
    font-size: 18px;
    opacity: 50%;
    margin-top: 10px;
}

.trashcan:hover{
    cursor: pointer;
    opacity:100%;
    transition: 1s;
}

li{   
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom:18px;
}

.textSpan{
    font-size: 35px;
}

.textSpan:hover{
    text-decoration:line-through;
    cursor: pointer;
    transition:0.5s;
}

.completed {
    font-size: 35px;
    text-decoration:line-through;
    color: #666;
    transition:0.5s;
    
}

.completed:hover{
    cursor: pointer;
}

#removeTaskDiv {
    background-color: #e70505;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

#removeTaskDiv button {
    background-color: #579;
    height:40px;
}



