 

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, rgb(250, 190, 190), rgb(250, 120, 120));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 20px;
}

.topBox {
    margin: 0 auto;
    background-color:#fff; 
    width: 700px;
    /* box-shadow: 4px 4px #000; */
    
}

h1 {
    /* background-color: #579; */
    font-size: 4em;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}


input {
    width:250px;
    padding-left: 20px;
}

#inputAndBtnDiv {
    /* background-color: #aea; */
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    height: 40px;

}

#addBtn {
    width: 60px;
}

#listAndBtnDiv { 
    /* background-color:rgb(194, 136, 60); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.trashcan{
    margin-left: 10px;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    opacity:50%;
}

.trashcan:hover{
    cursor: pointer;
    opacity:100%;
    transition: 1s;
}

li {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #27079b; */
    list-style: none;
    margin-bottom:10px;
}


.completed {
    list-style: none;
    text-decoration: line-through;
    color: #666;
}

#removeTaskDiv {
    background-color: #e70505;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

#removeTaskDiv button {
    background-color: #579;
    height:40px;
}

#infoBox {
    margin: 20px auto;
    width: 400px;
    height: 30px;
    text-align: center;
    color: #a00;
    
}

#nrOfCompleted{
    margin-left: 30px;
    width: 400px;
    height: 30px;
    margin: auto;
}

